{% extends "base.html" %}

{% block content %}
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" style="width: 250px; margin-bottom: 20px;">
    <h2>BEM-VINDO, TREINADOR!</h2>
    <p class="home-text">O SISTEMA ESTÁ PRONTO PARA REGISTRAR NOVAS ESPÉCIES NA SUA JORNADA.</p>
    <p class="home-total-box">
        TOTAL NA POKÉDEX: {{ totalPokemons }}
    </p>
    <form action="Pokemon.php"><button type="submit">ABRIR POKÉDEX</button></form>
{% endblock %}