{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="pokemon-panel" style="max-width: 500px; margin: auto;">
        <h2>LOGIN DO SISTEMA</h2>
        {% if erro %}<p style="color: red; font-size: 0.6rem;">{{ erro }}</p>{% endif %}
        <form action="login.php" method="post" style="display: flex; flex-direction: column; gap: 20px;">
            <label>E-MAIL:</label>
            <input type="email" name="email" required>
            
            <label>SENHA:</label>
            <input type="password" name="senha" required>
            
            <button type="submit">ENTRAR</button>
        </form>
        <p style="margin-top: 20px; font-size: 0.6rem;">
            NOVO POR AQUI? <a href="treinadores_inserir.php" class="btn-link">CADASTRE-SE</a>
        </p>
    </div>
{% endblock %}