{% extends "base.html" %} {% block content %}
<div
  class="item-slot"
  style="
    border-color: var(--poke-red);
    color: var(--poke-red);
    text-align: center;
    display: block;
  "
>
  AVISO: ESTA AÇÃO NÃO PODE SER DESFEITA!
</div>

<h2 style="text-align: center; margin-top: 20px">
  LIBERAR {{ pokemon.nome|upper }} NA NATUREZA?
</h2>

<img
  src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYm9hZWY5dmdwaHRyeHdxNWt4eThxdHRtbW9yNWF3cGw0dzRvbnM2biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Uu4wAbab4jbdsGCNOj/giphy.gif"
  style="width: 128px; display: block; margin: 0 auto 20px"
/>

<form action="pokemons_excluir.php" method="post" style="text-align: center">
  <input type="hidden" name="id" value="{{ pokemon.id }}" />
  <button
    type="submit"
    class="btn btn-secondary"
    style="padding: 15px 30px; font-size: 12px"
  >
    CONFIRMAR EXCLUSÃO
  </button>
  <a href="Pokemon.php" class="btn btn-primary">Cancelar e voltar</a>
</form>
{% endblock %}
