{% extends "base.html" %} {% block content %}
<div
  class="item-slot"
  style="
    border-color: var(--fr-red);
    color: var(--fr-red);
    text-align: center;
    display: block;
  "
>
  ATENÇÃO: O TREINADOR PERDERÁ TODAS AS SUAS CAPTURAS!
</div>
<h2 style="text-align: center; margin-top: 20px">
  EXCLUIR TREINADOR {{ treinador.nome|upper }}?
</h2>
<form action="treinadores_excluir.php" method="POST" style="text-align: center">
  <input type="hidden" name="id" value="{{ treinador.id }}" />
  <button type="submit" class="btn btn-secondary">CONFIRMAR EXCLUSÃO</button>
  <a href="treinadores_listar.php" class="btn btn-primary">CANCELAR</a>
</form>
{% endblock %}
